@{
    ViewBag.Title = "Weryfikacja 2FA";
}
<h2>Weryfikacja dwuskładnikowa</h2>

<p>Wprowadź kod wygenerowany w aplikacji autentykującej:</p>
<form method="post">
    <div class="form-group">
        <label for="code" class="form-label">Kod:</label>
        <input type="text" id="code" name="code" class="form-group" required>
    </div>
    <button type="submit" class="btn btn-primary btn-sm w-auto">Zweryfikuj</button>
</form>

@if (!string.IsNullOrEmpty(ViewData["ErrorMessage"]?.ToString()))
{
    <p class="text-danger">@ViewData["ErrorMessage"]</p>
}